<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
          <ion-icon name="more"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="justify-content-center">
      <img class="logoTW" src="assets/img/tw.png">
      <strong>Inscreva-se</strong>
    </div> 
  </ion-toolbar>
</ion-header>
<ion-content padding>
    

      <p>Nome de usuario:</p>
        <ion-input></ion-input>
      <div class="linha">

      </div>

      <p>Senha:</p>  
        <ion-input></ion-input>
      <div class="linha">
        
      </div>
</ion-content>
