ion-toolbar {
    --background: #15202b !important;

    strong {
        position: absolute;
        right: 13%;
        color: #e4e4e4;
    }
}

.logoTW, img {
    width: 45px;
    height: 45px;
    margin-top: 0px;
    margin-left: 42%;
}

ion-content {
    --ion-background-color: #15202b !important;

    .logoTW, img {
        width: 45px;
        height: 45px;
        margin-top: 5px;
        margin-left: 42%;
    }
    
    .conteudo {
        padding-left: 6.5%;
        padding-top: 45%;
        color: white;
    }
    
    .botao {
        margin-top: 2.5%;
        border-radius: 75px;
        padding-left: 5%;
        width: 380px;
    }
    
    .footer>p {
        margin-top: 35%;
        font-size: 20px;
        padding-left: 5.5%;
        color: darkgrey;
    }
    .linha {
        width: 100%;
        height: 1px;
        background-color: white;   
    }
    p {
        color: white;
        font-size: 20px;
    }
    .linhaTOP {
        --ion-background-color: rgb(255, 255, 255);
    }
}

